<%= javascript_pack_tag 'users/shift_submissions/new' %>
<%= stylesheet_pack_tag 'users/shift_submissions/new' %>

<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <h3 class="profile-username text-center"><%= @team.name %></h3>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>営業開始時間</b> <span class="pull-right"><%= @team.open_time %></span>
          </li>
          <li class="list-group-item">
            <b>営業終了時間</b> <span class="pull-right"><%= @team.close_time %></span>
          </li>
          <li class="list-group-item">
            <b>役職</b> <span class="pull-right"><%= @member.role_i18n %></span>
          </li>
        </ul>
        <%= link_to 'キャンセル', users_member_path(@member), class: 'btn btn-default btn-block' %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">シフト希望の提出</h3>
      </div>
      <div class="box-body">
        <div id="shift_submissions_new"
          data-team_id="<%= @team.id %>"
          data-member_id="<%= @member.id %>">
        </div>
      </div>
    </div>
  </div>
</div>
