<%= javascript_pack_tag 'users/shift_coordinators/shift_adjustments/edit' %>
<%= stylesheet_pack_tag 'users/shift_coordinators/shift_adjustments/edit' %>

<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>勤務者</b> <span class="pull-right"><%= @shift_submission.user.name %></span>
          </li>
          <li class="list-group-item">
            <b>希望日</b> <span class="pull-right"><%= @shift_submission.submitted_date %></span>
          </li>
          <li class="list-group-item">
            <b>希望開始時間</b> <span class="pull-right"><%= @shift_submission.start_time %></span>
          </li>
          <li class="list-group-item">
            <b>希望終了時間</b> <span class="pull-right"><%= @shift_submission.end_time %></span>
          </li>
          <li class="list-group-item">
            <b>調整済み開始時間</b> <span class="pull-right"><%= @shift_adjustment.start_time %></span>
          </li>
          <li class="list-group-item">
            <b>調整済み終了時間</b> <span class="pull-right"><%= @shift_adjustment.end_time %></span>
          </li>
        </ul>
        <%= link_to 'キャンセル', { controller: 'users/shift_coordinators/shift_submissions', action: 'show', id: @shift_submission.id },
          class: 'btn btn-default btn-block' %>
        <hr>
        <%= link_to '削除', users_shift_coordinators_shift_adjustment_path(@shift_adjustment), method: :delete,
          data: { confirm: '削除してもよろしいですか？' }, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">シフト調整変更</h3>
      </div>
      <div class="box-body">
        <div id="shift_adjustments_edit"
          data-shift_adjustment_id="<%= @shift_adjustment.id %>"
          data-shift_submission_id="<%= @shift_submission.id %>">
        </div>
      </div>
    </div>
  </div>
</div>
