<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3><%= Owner.count %></h3>
        <p>全オーナー数</p>
      </div>
      <div class="icon">
        <span class="ion-person"></span>
      </div>
      <%= link_to admins_owners_path, class: 'small-box-footer' do %>
        オーナー一覧 <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= Team.count %></h3>
        <p>全チーム数</p>
      </div>
      <div class="icon">
        <span class="ion-home"></span>
      </div>
      <%= link_to admins_teams_path, class: 'small-box-footer' do %>
        チーム一覧 <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-red">
      <div class="inner">
        <h3><%= User.count %></h3>
        <p>全ユーザー数</p>
      </div>
      <div class="icon">
        <span class="ion-person-stalker"></span>
      </div>
      <%= link_to admins_users_path, class: 'small-box-footer' do %>
        ユーザー一覧 <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>
