<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header"><%= current_user.name %></li>
      </li>
      <li><%= link_to 'ホーム', users_home_index_path %></li>
      <% if current_user.teams.any? %>
        <li><%= link_to 'チーム一覧', users_members_path %></li>
      <% end %>
      <% if current_user.unapproval_members.any? %>
        <li><%= link_to '参加申請中のチーム一覧', users_members_unapprovals_path %></li>
      <% end %>
      <li><%= link_to 'チームに参加する', new_users_members_unapproval_path %></li>
      <li><%= link_to '登録内容変更', edit_users_user_path %></li>
      <li><%= link_to 'パスワード変更', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </section>
</aside>
