<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.title %></title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <%= stylesheet_link_tag    'users/application', media: 'all' %>
    <%= javascript_include_tag 'users/application' %>
    <%= javascript_pack_tag 'users/application' %>
  </head>

  <body class="skin-blue wysihtml5-supported">
    <div class="wrapper">
      <%= render 'users/shared/header' %>
      <%= render 'users/shared/sidebar' %>
      <div class="content-wrapper" style="min-height: 1080px;">
        <section class="content">
          <% if current_user.pending_reconfirmation? %>
            <div class="alert alert-warning">
              <p>メールアドレスの変更が確認されていません</p>
              <p><%= current_user.unconfirmed_email %>に送られたメールを確認してください</p>
              <p><%= link_to '取り消す', destroy_unconfirmed_email_users_user_path, method: :patch,
                data: { confirm: 'メールアドレスの変更を取り消してもよろしいですか？' } %></p>
            </div>
          <% end %>
          <% if flash.present? %>
            <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <p><%= value %></p>
            </div>
            <% end %>
          <% end %>
          <%= yield %>
        </section>
      </div>
    </div>
  </body>
</html>
