<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <p class="text-muted text-center"><%= current_owner.name_kana %></p>
        <h3 class="profile-username text-center"><%= current_owner.name %></h3>
        <p class="text-muted text-center"><%= current_owner.email %></p>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>登録チーム数</b> <span class="pull-right"><%= current_owner.teams.count %></span>
          </li>
          <li class="list-group-item">
            <b>チーム登録可能残数</b> <span class="pull-right"><%= current_owner.registerable_count %></span>
          </li>
        </ul>
        <input class="btn btn-default btn-block" type="button" value="登録可能チーム数追加" onclick="alert('管理者にお問い合わせください');">
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <% if @teams.any? %>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">チーム一覧</h3>
          <div class="box-tools">
            <%= paginate @teams, theme: 'owners' %>
          </div>
        </div>
        <div class="box-body no-padding">
          <table class="table">
            <tbody>
              <tr>
                <th>名前</th>
                <th>従業員数</th>
                <th>営業開始時間</th>
                <th>営業終了時間</th>
              </tr>
              <% @teams.each do |team| %>
                <tr>
                  <td><%= link_to team.name, owners_team_path(team) %></td>
                  <td><%= team.members.approvals.count %></td>
                  <td><%= team.open_time %></td>
                  <td><%= team.close_time %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% else %>
      <div class="callout callout-danger">
        <p>チームを登録していません</p>
      </div>
    <% end %>
  </div>
</div>
