<div class="login-box">
  <div class="login-logo">
    <p>シフト管理</p>
  </div>
  <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm" label-width="120px" class="demo-ruleForm">
    <el-form-item label="メールアドレス" prop="email">
      <el-input type="email" v-model="loginForm.email" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="パスワード" prop="password">
      <el-input type="password" v-model="loginForm.password" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click.native="submitForm('loginForm')">ログイン</el-button>
      <el-button @click.native="resetForm('loginForm')">取り消し</el-button>
    </el-form-item>
  </el-form>
  <div id="hello">{{ message }}</div>

  <div class="login-box-body">
    <p class="login-box-msg">システム管理者ログイン画面</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, placeholder: 'メールアドレス', autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off", class: 'form-control' %>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
          <%= f.submit 'ログイン', class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>
    <% end %>

    <%= link_to "パスワードをお忘れですか?", new_password_path(resource_name) %><br>
  </div>
</div>
