<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admins/application', media: 'all' %>
    <%= javascript_include_tag 'admins/application' %>
  </head>

  <body class="hold-transition login-page">
    <%= yield %>
  </body>
</html>
