<%= stylesheet_link_tag 'users/fullcalendar' %>
<%= javascript_include_tag 'users/teams/show' %>

<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <h3 class="profile-username text-center"><%= @team.name %></h3>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>営業開始時間</b> <span class="pull-right"><%= @team.open_time %></span>
          </li>
          <li class="list-group-item">
            <b>営業終了時間</b> <span class="pull-right"><%= @team.close_time %></span>
          </li>
          <li class="list-group-item">
            <b>役職</b> <span class="pull-right"><%= @current_member.role_i18n %></span>
          </li>
        </ul>
        <%= link_to 'シフト希望の提出', new_users_team_shift_submission_path(@team), class: 'btn btn-primary btn-block' %>
        <hr>
        <% case @current_member.role %>
        <% when 'manager' %>
          <%= render 'link', role: 'managers' %>
        <% when 'full_timer' %>
          <%= render 'link', role: 'full_timers' %>
        <% when 'part_timer' %>
          <%= render 'link', role: 'part_timers' %>
        <% end %>
        <hr>
        <%= link_to '設定変更', edit_users_member_path(@current_member), class: 'btn btn-success btn-block' %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="box box-primary">
      <div class="box-body no-padding">
        <div id="users_shift_calendar" data-team_id="<%= @team.id %>"></div>
      </div>
    </div>
  </div>
</div>
