<!DOCTYPE html>
<html>
  <head>
    <title><%= Settings.title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'owners/application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="hold-transition register-page">
    <%= yield %>
  </body>
</html>
