<div class="register-box">
  <div class="register-logo">
    <b>パスワードの再設定</b>
  </div>
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, inline_errors: false) do |f| %>
    <%= f.alert_message "以下のエラー内容を修正してください" %>
    <div class="register-box-body">
      <%= f.hidden_field :reset_password_token %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード（#{@minimum_password_length}文字以上）" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'パスワード（確認用）' %>
      <%= f.submit "再設定する", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>
