<%= javascript_include_tag 'users/home/index' %>

<div class="row">
  <div class="col-md-3">
    <div class="box box-primary">
      <div class="box-body box-profile">
        <p class="text-muted text-center"><%= current_user.name_kana %></p>
        <h3 class="profile-username text-center"><%= current_user.name %></h3>
        <p class="text-muted text-center"><%= current_user.email %></p>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>参加チーム数</b> <span class="pull-right"><%= current_user.members.count %></span>
          </li>
        </ul>
      </div>
    </div>
    <% if current_user.teams.any? %>
      <div class="box">
        <div class="box-header">
          <h4 class="box-title">参加チーム</h4>
        </div>
        <div class="box-body no-padding">
          <table class="table">
            <tbody>
              <% current_user.members.each do |member| %>
                <tr>
                  <td><%= member.team.name %></td>
                  <td><span style="color: #<%= member.calendar_color %>"><i class="fa fa-square"></i></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-9">
    <% if current_user.teams.any? %>
      <div class="box box-primary">
        <div class="box-body no-padding">
          <div id="shift_calendars"></div>
        </div>
      </div>
    <% else %>
      <div class="callout callout-danger">
        <p>参加しているチームがありません</p>
      </div>
    <% end %>
  </div>
</div>
