<div class="login-box">
  <div class="login-logo">
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">LINE公式アカウント連携用ログイン画面</p>
    <%= form_tag(admins_line_connections_path, method: :post) do %>
      <%= hidden_field_tag 'linkToken', params[:linkToken] %>
      <div class="form-group has-feedback">
        <%= email_field_tag 'email', '', placeholder: 'メールアドレス', autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group has-feedback">
        <%= password_field_tag 'password', '', placeholder: 'パスワード', autocomplete: "off", class: 'form-control' %>
      </div>
      <%= submit_tag 'ログイン', class: 'btn btn-primary btn-block btn-flat' %>
    <% end %>
  </div>
</div>
