<div class="register-box">
  <div class="register-logo">
    <b>パスワードの変更</b>
  </div>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), inline_errors: false) do |f| %>
    <%= f.alert_message "以下のエラー内容を修正してください" %>
    <div class="register-box-body">
      <p class="login-box-msg">パスワード変更</p>
      <%= f.password_field :current_password, autocomplete: "off", placeholder: '現在のパスワード' %>
      <%= f.password_field :password, autocomplete: "off",
        placeholder: "新しいパスワード（#{@minimum_password_length}文字以上）", label: '新しいパスワード' %>
      <%= f.password_field :password_confirmation, autocomplete: "off",
        placeholder: '新しいパスワード（確認用）', label: '新しいパスワード（確認用）' %>
      <%= f.submit "変更する", class: 'btn btn-primary btn-block' %>
      <br>
      <p><%= link_to 'キャンセル', users_home_index_path %></p>
    </div>
  <% end %>
</div>
